@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-gray-800 hover:bg-gray-700 text-gray-100 font-medium px-7 py-1.5 rounded;
}

.share-tech-mono {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}


.croissant-one-regular {
  font-family: "Croissant One", serif;
  font-weight: 400;
  font-style: normal;
}


.orbitron-heading {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
